    <html>
        <head>
            <title>Control DSP1</title>
        </head>
        <body>
            <div>
                <h1><a href="">Control DSP1</a></h1>
            </div>

            <div>
                <p>publicado: 01.12.2017, 10:56</p>
                <h2><a href="">Bienvenido a DSP1</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>

            <div>
                <p>publicado: 01.12.2017, 10:56</p>
                <h2><a href="">Control de consumo</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </div>
        </body>
    </html>
